{% extends 'base.html' %}
{% block main %}

<div class="container-fluid mt-3">
        <div class="col-lg-6">
            <h3>Detalhes da reserva</h3>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>CNPJ</th>
                        <th>Categoria</th>
                        <th>Stand</th>
                        <th>Quitação</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ reserva.nome_empresa }}</td>
                        <td>{{ reserva.cnpj }}</td>
                        <td>{{ reserva.categoria_empresa }}</td>
                        <td>{{ reserva.stand }}</td>
                        {% if reserva.quitado %}
                        <td>Quitado</td>
                        {% else %}
                        <td>Não quitado</td>
                        {% endif %}

                    </tr>
                </tbody>
        </div>
    </div>

    {%endblock%}