{% extends 'base.html' %}

{% block main %}

<div class="container mt-3">
  <div class="row justify-content-center">
      <!-- Card 1 -->
      <div class="col-md-6 col-lg-4 mb-3">
          <div class="card text-white bg-primary">
              <div class="card-header">Reservas</div>
              <div class="card-body">
                  <h5 class="card-title">Total de Reservas</h5>
                  <p class="card-text">{{ total_reserva }}</p>
              </div>
          </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-6 col-lg-4 mb-3">
          <div class="card text-white bg-primary">
              <div class="card-header">Stands</div>
              <div class="card-body">
                  <h5 class="card-title">Total de Stands</h5>
                  <p class="card-text">{{ total_stands }}</p>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}