{% extends 'base.html' %}
{% block main %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-6">
            <h3>Detalhes da Reserva</h3>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>CNPJ</th>
                        <th>Categoria</th>
                        <th>Stand</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ reserva.nome_empresa }}</td>
                        <td>{{ reserva.cnpj }}</td>
                        <td>{{ reserva.categoria_empresa }}</td>
                        <td>{{ reserva.stand }}</td>

                    </tr>
                </tbody>
        </div>
    </div>
    {%endblock%}