{%  extends 'base.html' %}

{% block main %}
<br>

<main>
    <section class="sct-form">
        <div class="form">
            <div class="main-content pl-sm-3 mt-4 d-flex justify-content-center align-items-center">
            <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <h1 class="mt-3">Formulário do stand</h1>
       
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Localização</label>
            {{ form.localizacao }}
        </div>

        <div class="mb-3">
            <label for="nome" class="form-label">Valor</label>
            {{ form.valor }}
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form> 
</div>
</div>
    
</section>
          
</main>
    
{% endblock %}